*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

img{
    display: block;
    width: 100%;
}

.content{
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: rgb(22, 22, 22);
    padding-top: 3rem;
}

/* -------------------------------------------------------------------------- */
/*                                    title                                   */
/* -------------------------------------------------------------------------- */


.main-title{
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #f8f8f8;
}

.showcase{
    font-family: 'PT Serif', serif;
    font-size: 1.5rem;
    letter-spacing: 0.08rem;
    text-align: center;
    color: #f8f8f8;
}

/* -------------------------------------------------------------------------- */
/*                                   center                                   */
/* -------------------------------------------------------------------------- */

.all{
    position: relative;
    margin: 3rem auto;
    width: 50%;
    height: 50vh;
    overflow: hidden;
}


#carousel{
    position: absolute;
    left: 0;
    width: 500%;
    height: 100%;
    display: flex;
    transition: 1s ease-in-out;
}

.film-card{
    width: 20%;
    height: 100%;
    margin: 0 0.5%; 
    background-color: rgb(224, 208, 186);
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                                 inner-card                                 */
/* -------------------------------------------------------------------------- */

.locandina{
    max-width: 50%;
    height: 90%;
    padding-left: 7%;
}

.film-card img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.descr-container{
    width: 50%;
    margin-left: 2rem;
    font-family: 'Roboto', sans-serif;
}

.descr-container h3{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    font-family: 'PT Serif', serif;
}

.director{
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
    font-weight: 600;
}

.descr-container ul{
    font-weight: 600;
    margin:0.8rem 0 4rem;
}

.descr-container ul li{
    margin: 0.3rem 0 0 0.5rem;
}

.minor{
    font-weight: 500;
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.buttons{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translateX(-50%);
}

.buttons button{
    margin: 0 0.6rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    background-color: rgb(218, 218, 218);
}

.buttons button:hover{
    background-color: rgb(165, 182, 145);
    color: #f8f8f8;
}

.buttons button:active{
    background-color: rgb(114, 126, 100);
    color: #f8f8f8;
}

/* -------------------------------------------------------------------------- */
/*                               operatore side                               */
/* -------------------------------------------------------------------------- */

.operatore{
    background-color: rgb(46, 43, 43);
    color: #f8f8f8;
    padding: 3rem 0;
}

.preview{
    color: black;
    position: relative;
}

#client-side{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    padding: 0 7rem;
}

.operatore h1{
    text-align: center;
    font-size: 2.5rem;
}

.alert{
    text-align: center;
    height: 2rem;
    margin-top: 1rem;
    font-size: 1.6rem;
}

#client-side input, #client-side label{
    display: block;
    margin: 0.4rem 0;
}

#client-side div{
    width: 50%;
}

.form{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-box{
    width: 30%;
}

.preview{
    height: 60%;
}

.preview button{
    position: absolute;
    top: 80%;
    left: 70%;
}

.form-box button, .preview button{
    padding: 0.5rem 1rem;
    border-radius: 6px;
    background-color: rgb(218, 218, 218);
}

.form-box button:hover, .preview button:hover{
    background-color: rgb(165, 182, 145);
    color: #f8f8f8;
}

.form-box button:active, .preview button:active{
    background-color: rgb(114, 126, 100);
    color: #f8f8f8;
}

#client-side .removing{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#removeFilmBtn{
    width: 40%;
}

.remove-film{
    width: 100%;
    padding: 0.4rem 0.6rem;
    margin-top: 1rem;
    background-color: rgb(112, 55, 55);
    display: inline;
}

.remove-film input{
    width: 100%;
}

.remove-film button{
    padding: 0.5rem 1rem;
    border-radius: 6px;
    background-color: rgb(218, 218, 218);
}

.remove-film .hoverBtn:hover{
    background-color: rgb(214, 146, 136);
    color: #f8f8f8;
}

.remove-film .hoverBtn:active{
    background-color: rgb(163, 87, 73);
    color: #f8f8f8;
}

#client-side .last-resort{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.btnYes, .btnNo{
    display: none;
    width: 48%;
}

.operatore .btnYes{
    background-color: rgb(219, 119, 119);
    color: #f8f8f8;
}

.operatore .btnYes:hover{
    background-color: rgb(214, 136, 136);
}

.operatore .btnYes:active{
    background-color: rgb(145, 86, 86);
}

.operatore .btnNo{
    background-color: rgb(71, 151, 102);
    color: #f8f8f8;
}

.operatore .btnNo:hover{
    background-color: rgb(99, 196, 136);
}

.operatore .btnNo:active{
    background-color: rgb(63, 122, 86);
}