p{
    display: inline;
}

.listaAlunni{
    position: relative;
}

.red-dot{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(201, 87, 87);
    margin-right: 1rem;
}

.green-dot{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(98, 212, 114);
    margin-right: 1rem;
}

button{
    position: absolute;
    left: 30%;
}
