<!-- <app-prova></app-prova>
<button mat-raised-button color="primary" (click)="onClick($event)">Primary</button>
<mat-form-field class="example-full-width">
  <mat-label>Favorite food</mat-label>
  <input matInput placeholder="Ex. Pizza" [(ngModel)]="title"/>
</mat-form-field>
<p>{{title}}</p>
<br>
<button mat-raised-button color="primary" (click)="changeBoolean()">True/False</button>
<p *ngIf="isVisible">Ah ciao bbbello</p>
<p *ngIf="!isVisible">Notte, bbbello</p>


<p *ngIf="isVisible; then bloccoIf else bloccoElse"></p>
<ng-template #bloccoIf>
  <p>buongiorno</p>
</ng-template>
<ng-template #bloccoElse>
  <p>buonanotte</p>
</ng-template>
<br>
<br>
<h1>le mie persone</h1>
<ul>
  <li *ngFor="let persona of persone">
    {{persona.nome}} {{persona.cognome}}
  </li>
</ul>

<div *ngFor="let persona of persone; index as i">
  <p class="cerchio" *ngIf="persona.isOnline"></p>
  <p class="cerchioRed" *ngIf="!persona.isOnline"></p>
  <p>{{i}}-{{persona.nome}} {{persona.cognome}}</p> 
</div>  


<div [ngSwitch]="numero">
  <p *ngSwitchCase="1">uno</p>
  <p *ngSwitchCase="2">due</p>
  <p *ngSwitchCase="3">tre</p>
  <p *ngSwitchCase="4">quattro</p>
  <p *ngSwitchDefault>Numero fuori range</p>
</div>

<ul>
  <li *ngFor="let persona of persone">
    <div class="cerchio" [ngStyle]="{'background': persona.isOnline? 'green' : 'red'}"></div>
    <p>{{persona.nome}} persona</p>
  </li>
</ul> -->
<!-- 
<ul>
  <li *ngFor="let persona of persone, index as i">
    <div class="cerchio" [ngClass]="{'cerchioGreen' : persona.isOnline, 'cerchioRed' : !persona.isOnline}">{{i}}</div>
    <p>{{persona.nome}} persona</p>
  </li>
</ul> -->

<!-- <app-prova [data]="persone"></app-prova>
<button (click)="onClick()">Cambia</button> -->

<!-- <app-prova (mandaDatiEvento)="onRiceviDati($event)"></app-prova> -->

<!-- <input #inputSaluti value="valore">
<button (click)="onClick()">CLIKKAMIII</button> -->

<h2>Scegli il colore dell'evidenziatore</h2>
<div>
  <input type="radio" name="coloreEvidenziatore"(click)="cambiaColoreEvidenziatore('red')">Rosso
  <input type="radio" name="coloreEvidenziatore"(click)="cambiaColoreEvidenziatore('pink')">Rosa
  <input type="radio" name="coloreEvidenziatore"(click)="cambiaColoreEvidenziatore('purple')">Viola
</div>
<br>
<p [appHighlight]="colore" defaultColor="green">Ciao sono un paragrafo</p>
<p [appHighlight]="colore" defaultColor="gray">Ciao sono un paragrafo</p>
<p [appHighlight]="colore" defaultColor="cyan">Ciao sono un paragrafo</p>