*{
    box-sizing: border-box;
}


.flex{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    
}

.flex-element{
    width: 33%;
    padding: 1rem;
    background-color: aqua;
}

h4{
    text-align: center;
    margin-top: 0.5rem;
}