body{
    padding: 2rem;
}

h1{
    margin-bottom: 1rem;
    font-size: 2rem;
}

input{
    display: block;
    margin: 0.5rem 0;
}

button{
    margin-top: 1rem;
    padding: 0.3rem 0.6rem;
    font-weight: 500;
}

.box p{
    margin: 1.2rem 0;
    font-size: 1.2rem;
}